.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightsteelblue;
    height: 400px;
}
.flex-element {
    border: 1px solid black;
    background-color: green;
    color: lawngreen;
    padding: 10px;
    flex-basis: 300px;

}